<h1>Listing ships</h1>

<table>
  <thead>
    <tr>
      <th>Ename</th>
      <th>Cname</th>
      <th>Flag</th>
      <th>Callsign</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ships.each do |ship| %>
      <tr>
        <td><%= ship.ename %></td>
        <td><%= ship.cname %></td>
        <td><%= ship.flag %></td>
        <td><%= ship.callsign %></td>
        <td><%= link_to 'Show', ship %></td>
        <td><%= link_to 'Edit', edit_ship_path(ship) %></td>
        <td><%= link_to 'Destroy', ship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ship', new_ship_path %>
